@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:focus {
  outline: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.placeholder {
  animation: loading 1.5s infinite alternate;
  background: linear-gradient(
    90deg,
    transparent 25%,
    #f3f3f3 50%,
    transparent 75%
  );
  background-size: 200% 100%;
  display: inline-block;
  text-align: left;
  color: transparent;
  white-space: nowrap;
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.cool-box {
  @apply bg-white bg-opacity-30 dark:bg-gray-800 dark:bg-opacity-80 rounded-xl shadow-lg;
}

.porygon {
  stroke-opacity: 70%;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
